{% extends 'base/base.html' %} <!--get all content from base.html-->


<!--==Title========================-->
{% block title %}404 - page not found
{% endblock title %}




<!--==Body=========================-->
{% block body %}


<section class="search-page">

    {% if product|length < 1 %} <div class="search-not-found">
        {% load static %}
        <img src="{% static 'images/404/not_found.svg' %}" />
        <span>Car Not Found, <b>Try Another</b></span>
        </div>
        {% endif %}


        <div class="search-product-box-container">
            {% for product in product%}
            <!--**box******************-->
            <div class="product-box">
                <!--img-->
                <a href="{% url 'product_page' product.category product.permalink %}" class="product-img">
                    <img src="{{product.product_thumb.url}}" alt="{{product.title}}" />
                </a>
                <!--text-->
                <div class="product-text">
                    <a href="{% url 'product_page' product.category product.permalink %}"
                        class="product-box-p-name">{{product.title}}</a>
                    <span class="p-box-category">{{product.category}} > {{product.sub_category}}</span>
                    <p>{{product.description}}</p>
                    <span>${{product.selling_price}}</span>
                    <del>${{product.discounted_price}}</del>
                </div>
            </div>
            {% endfor %}
        </div>

</section>


{% endblock body %}