{% extends 'base/base.html' %}
<!--get all content from base.html-->

{% block title %}Burr Rentals LLC - Cart{% endblock title %} {% load static %} 
{% block body %}

<section id="cart-page">
  <!--**Heading**********************-->
  <h1 class="cart-page-heading">
    <i class="fa-solid fa-cart-shopping"></i> Your Booking Cart
  </h1>

  <div class="cart-page-container">
    <!--**items-container***********-->
    <div class="cart-items-container">
      <p style="color: #ff2616; font-weight: 400; text-align: center" id="empty-message"></p>
      {% if cart|length == 0 %}
      <p style="color: #ff2616; font-weight: 400; text-align: center">
        *Please Add Product in Cart
      </p>
      {% endif %} {% for cart in cart %}
      <!--box-->
      <div class="cart-item-box">
        <!--img-->
        <div class="cart-box-img">
          <img src="{{cart.car.product_thumb.url}}" alt="{{cart.car.title}}" />
        </div>
        <!--text-->
        <div class="cart-box-text">
          <div class="cart-box-title">
            <strong>{{cart.car.title}}</strong>
            <span class="cart-box-color">
              city: {{cart.car.city}} ,
              seats: {{cart.car.seats}}
            </span>
          </div>
        </div>
        <!--price-->
        <div class="cart-box-price">
          <!--remove-->
          <a href="/cart/checkout/{{cart.id}}" class="removecart" pid="{{cart.id}}">Continue Booking <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!--==Jquery====================-->
<script src="{% static 'js/Jquery.js' %}" type="text/javascript"></script>


{% endblock body %}