{% extends 'base/base.html' %}
<!--get all content from base.html-->

{% block title %}Burr Rentals LLC - Checkout{% endblock title %} {% load static %}
{% block body %}

<section id="cart-page">
  <!--**Heading**********************-->
  <h1 class="cart-page-heading">
    <i class="fa-solid fa-cart-shopping"></i> Checkout
  </h1>

  <div class="cart-page-container">
    <!--**items-container***********-->
    <div class="cart-items-container">
      {% if booking_car_details.rent_days == None or booking_car_details.rent_days < 1 %}
      <span
        style="color: red; font-size: 0.9rem; margin-top: 20px; display: flex"
        >*Please Fill Booking Form Correctly</span
      >
      {% else %}
      <div class="cart-address-container">
        <strong class="cart-address-h">Confirm Order details</strong>
        <div class="cart-address-box">
          <strong>Selected Car:</strong>
          <span>{{booking_car_details.car.title}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Buyer Name:</strong>
          <span>{{booking_car_details.user_name}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Buyer Phone Number:</strong>
          <span>{{booking_car_details.user_phone}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Buyer City:</strong>
          <span>{{booking_car_details.city}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Buyer Phone Number:</strong>
          <span>{{booking_car_details.user_phone}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Pickup Point:</strong>
          <span>{{booking_car_details.pickup_point}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Pickup Date and Time:</strong>
          <span>{{booking_car_details.pickup_date}}, {{booking_car_details.pickup_time}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Dropoff Date and Time:</strong>
          <span>{{booking_car_details.dropoff_date}}, {{booking_car_details.dropoff_time}}</span>
        </div>
        <div class="cart-address-box">
          <strong>Total Rent Days:</strong>
          <span>{{booking_car_details.rent_days}}</span>
        </div>

      </div>
      {% endif %}
    </div>
    <!--**summary*******************-->
    <div class="order-summary">
      <strong class="order-summary-heading">Checkout</strong>
      <div class="summary-box">
        <table class="summary-product">
          <tr>
            <td>Per Day Rent</td>
            <td class="summary-tabel-amount">
              {{booking_car_details.car.selling_price|floatformat:2}}$
            </td>
          </tr>
          <tr>
            <td>Total Days</td>
            <td class="summary-tabel-amount">
              {{booking_car_details.rent_days}}
            </td>
          </tr>
          <tr>
            <td>Total Taxes</td>
            <td class="summary-tabel-amount">
              {{summary_shipping|floatformat:2}}$
            </td>
          </tr>
        </table>
        <table class="summary-total">
          <tr>
            <td class="summary-subtotal-h">SubTotal Amount</td>
            <td class="summary-tabel-subamount">
              ${{booking_car_details.order_price|floatformat:2}}
            </td>
          </tr>
        </table>
        <span>*Including Taxes</span>
      </div>

      <form action="{% url 'payment_done' booking_car_details.id %}" method="post" id="paymentform">
        {% csrf_token %}
        <input type="hidden" name="booking_id" value="{{booking_car_details.id}}" />

        {% if booking_car_details.rent_days == None or booking_car_details.rent_days < 1 %}
        <span style="color: red; font-weight: 500"
          >*Please Fill Booking Form Correctly</span
        >
        {% else %}
        <div id="checkout-button-stripe" class="cart-place-order-btn">
          Make Your Payment
        </div>
        {% comment %}
        <div id="paypal-button-container"></div>
        {% endcomment %} {% endif %}
      </form>
    </div>
  </div>
</section>

<!--==Jquery====================-->
<script src="{% static 'js/Jquery.js' %}" type="text/javascript"></script>

<!--==Script====================-->
<script type="text/javascript">
  /*==quantity-increse-&-decrese-input==*/
  $(document).ready(function () {
    $(".increment-btn").click(function (e) {
      e.preventDefault();
      var incre_value = $(this).parents(".quantity").find(".qty-input").val();
      var value = parseInt(incre_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value < 10) {
        value++;
        $(this).parents(".quantity").find(".qty-input").val(value);
      }
    });

    $(".decrement-btn").click(function (e) {
      e.preventDefault();
      var decre_value = $(this).parents(".quantity").find(".qty-input").val();
      var value = parseInt(decre_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value > 1) {
        value--;
        $(this).parents(".quantity").find(".qty-input").val(value);
      }
    });
  });
</script>

{% block p_script %}
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<!-- Include Stripe.js -->
<script src="https://js.stripe.com/v3/"></script>

<script>
  const stripe = Stripe('pk_live_51OWj5oILDq4NxNQl2rkVSbkhXSxWtOM48bSn4axwiKq54m3gCfuIIF2y9oG7cpOwYT12DZc7uwrS9GnGpct9vmoj00OMuVzdSh');
  function getCookie(name) {
    let value = "; " + document.cookie;
    let parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
  let csrftoken = getCookie('csrftoken');
  document.getElementById("checkout-button-stripe").addEventListener("click", function () {
    this.innerHTML = "...";
    // Fetch the checkout session on button click
    fetch("/cart/create-checkout-session", {
      method: "POST",
      headers: {
        "X-CSRFToken": csrftoken,
        // Add any other headers here
      },
      body: JSON.stringify({ amount: {{total_amount|floatformat:2}} , booking_id:{{booking_car_details.id}}})
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok', response);
        }
        return response.json();
      })
    .then(session => {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(result => {
      if (result.error) {
        // If redirectToCheckout fails, display error to customer.
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
      alert("There was an issue processing the checkout. Please try again.");
    });
  });
</script>

<script>
  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: "{{total_amount|floatformat:2}}",
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For demo purposes:
          console.log(
            "Capture result",
            orderData,
            JSON.stringify(orderData, null, 2),
          );
          var transaction = orderData.purchase_units[0].payments.captures[0];
          alert(
            "Transaction " +
              transaction.status +
              ": " +
              transaction.id +
              "\n\nSee console for all available details",
          );

          // Replace the above to show a success message within this page, e.g.
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '';
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
          document.getElementById("paymentform").submit();
        });
      },
    })
    .render("#paypal-button-container");
</script>

{% endblock p_script %}
{% endblock body %}
