{% extends 'base/base.html' %}
<!--get all content from base.html-->

{% block title %}Burr Rentals LLC - Order{% endblock title %}
{% load static %}
{% block body %}

<section id="cart-page">
  <!--**Heading**********************-->
  <h1 class="cart-page-heading">
    <i class="fa-solid fa-layer-group"></i> Your Order's
  </h1>

  <div class="cart-page-container order-page-container">
    <!--**items-container***********-->
    <div class="cart-items-container">
      {% if order|length == 0 %}
      <p style="color: #ff2616; font-weight: 400; text-align: center">
        *Please Place Order
      </p>
      {% endif %} {% for order in order %}
      <!--box-->
      <div class="cart-item-box order-place-box">
        <!--img-->
        <div class="cart-box-img">
          <img src="{{order.car.product_thumb.url}}" alt="" />
        </div>
        <!--text-->
        <div class="cart-box-text">
          <div class="cart-box-title">
            <strong>{{order.car.title}}</strong>
            <span class="cart-box-color" style="margin:5px 0px"><b>Pickup Time:</b> {{order.pickup_date}} {{order.pickup_time}}<br/> <b>Dropoff Time:</b> {{order.dropoff_date}} {{order.dropoff_time}}</span>
          </div>
          <!--quantity-->
          <div class="place-order-quantity">
            <strong>Rent Days:</strong>
            <span>{{order.rent_days}}</span>
          </div>
        </div>
        <!--price-->
        <div class="cart-box-price">
          <span><b>Total Amount:</b>${{order.total_amount|floatformat:2}}</span>
          {% if remaning_amount %}
          <span><b>Pay Amount:</b>${{order.user_pay|floatformat:2}}</span>
          <span><b>Remaning Amount:</b>${{order.remaning_amount|floatformat:2}}</span>
          {% endif %}
          {% if order.status == "Pending" %}
          <span class="place-order-status"><b>Status:</b> Pending</span>
          <progress value="1" class="pending" max="100"></progress>
          {% elif order.status == "Booked" %}
          <span class="place-order-status"><b>Status:</b> Booked</span>
          <progress value="25" class="accepted" max="100"></progress>
          {% elif order.status == "On The Way" %}
          <span class="place-order-status"><b>Status:</b> On The Way</span>
          <progress value="50" class="shipped" max="100"></progress>
          {% elif order.status == "Delivered" %}
          <span class="place-order-status"><b>Status:</b> Picked up</span>
          <progress value="75" class="packed" max="100"></progress>
          {% elif order.status == "DropOff" %}
          <span class="place-order-status"><b>Status:</b> Droped Off</span>
          <progress value="100" class="delivered" max="100"></progress>
          {% elif order.status == "Late" %}
          <span class="place-order-status"><b>Status:</b> Late</span>
          <progress value="100" class="cancel" max="100"></progress>
          {% elif order.status == "Cancel" %}
          <span class="place-order-status"><b>Status:</b> Close</span>
          <progress value="100" class="cancel" max="100"></progress>
          {% endif %}
        </div>

        {% if order.status == "Cancel" %}
        <span class="order-page-order-message">*You Order is
          <b style="color: red; margin: 0px 5px; font-weight: 500"> *Closed </b>
          Due to Security Reason, Payment Will be
          <b style="color: red; margin: 0px 5px; font-weight: 500"> Refund</b>
          in 7 days</span>
        {% endif %} {% if order.status == "Pending" %}
        <span class="order-page-order-message">*Waiting For Payment Verification</span>
        {% endif %} {% if order.status == "Booked" %}
        <span class="order-page-order-message">*Your Order is Booked. You will get your car on your time. For further information, Please Contact The Car Seller. Contact Info given below.</span>
        {% endif %} {% if order.status == "On The Way" %}
        <span class="order-page-order-message">*Your Car is on the way.</span>
        {% endif %} {% if order.status == "Delivered" %}
        <span class="order-page-order-message">*Your car is Delivered.</span>
        {% endif %} {% if order.status == "DropOff" %}
        <span class="order-page-order-message">*We get our car back, Thank you for your order.</span>
        {% endif %} {% if order.status == "Late" %}
        <span class="order-page-order-message">*You are late to drop Off the car, We may take some extra charges for late car return.</span>
        {% endif %}
      
        {% if order.status != "Pending" and order.status != "Cancel" %}
        <div class="order-page-order-message" style="margin-top:10px; background-color:#f5f7ff; display:flex; flex-direction:column; font-weight:500;">
          <span style="color:red">Seller Details:-</span>
          <ul style="list-style:inside">
            <li><b>Name:</b> {{order.car.user.first_name}} {{order.car.user.last_name}}</li>
            <li><b>Phone Number: </b>{{order.car.user.phone}}</li>
            <li><b>Seller Car Location: </b>{{order.seller_car_location}}</li>
          </ul>
        </div>
        {% endif %}

      </div>

      {% endfor %}
    </div>
  </div>
</section>

<!--==Jquery====================-->
<script src="{% static 'js/Jquery.js' %}" type="text/javascript"></script>

<!--==Script====================-->
<script type="text/javascript">
  /*==quantity-increse-&-decrese-input==*/
  $(document).ready(function () {
    $(".increment-btn").click(function (e) {
      e.preventDefault();
      var incre_value = $(this).parents(".quantity").find(".qty-input").val();
      var value = parseInt(incre_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value < 10) {
        value++;
        $(this).parents(".quantity").find(".qty-input").val(value);
      }
    });

    $(".decrement-btn").click(function (e) {
      e.preventDefault();
      var decre_value = $(this).parents(".quantity").find(".qty-input").val();
      var value = parseInt(decre_value, 10);
      value = isNaN(value) ? 0 : value;
      if (value > 1) {
        value--;
        $(this).parents(".quantity").find(".qty-input").val(value);
      }
    });
  });
</script>

{% endblock body %}