{% extends 'base/base.html' %} <!--get all content from base.html-->

{% block title %}{{product.title}} - Burr Rentals LLC{% endblock title %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock header %}

{% block body %}

<div class="product-page-container">
    <!--route-->
    <span class="link-route">
        <a href="/">Home</a> > <a href="#">{{product.category}}</a>
    </span>

    <!--==Product=================================-->
    <section id="product-page">

        <!--**Product-img********-->
        <div class="product-page-img-container">
            <!--img-->
            <div class="product-page-img">
                {% if product.product_images.all %}
                <div style="width:100%" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        {% for images in product.product_images.all %}
                        <div class="swiper-slide">
                            <img src="{{images.image.url}}" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                  <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for images in product.product_images.all %}
                        <div class="swiper-slide">
                            <img src="{{images.image.url}}" />
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                  {% else %}
                  <img src="{{product.product_thumb.url}}" alt="{{product.title}}" />
                  {% endif %}
            </div>
        </div>
        <!--**product-details***************-->
        <div class="product-page-details">
            <!--title-->
            <strong>{{product.title}}</strong>
            <div class="product-car-details">
                <strong class="product-category"><i class="fa-solid fa-city"></i> City - {{product.city}}</strong>
                <strong class="product-category"><i class="fa-solid fa-chair"></i> Seats - {{product.seats}}</strong>
                <strong class="product-category"><i class="fa-solid fa-location-dot"></i> Location - {{product.complete_location}}</strong>
            </div>
            <!--price-->
            <span class="price">${{product.selling_price}} <del id="total-with-discount-price">0$</del></span>

            <!--small-desc-->
            <p class="small-desc">{{product.description}}</p>

            <form action="">
                <div class="product-page-carts-btns">
                    <span class="product-page-offer"><i class="fa-solid fa-tag"></i> <span
                            id="product-page-discount"></span>% Discount</span>

                    <div class="quantity-cart">

                        <a href="{% url 'index' %}cart/booking/{{product.id}}" class="add-cart">Book Now</a>
            </form>
        </div>


        <div class="page-product-total">
            <strong>{{product.selling_price}}$ <span style="color:#ff2616;"> + {% if product.total_tax == 0 %}Free
                    {% else %} {{product.total_tax}}${% endif %} Taxes</span></strong>
            <p></p>
        </div>
</div>
</div>

</section>


<!--==Product-all-info=============================-->
<section class="product-all-info">
    <!--product-info-menu-->
    <ul class="product-info-menu">
        <li class="active product-info-list" data-filter="heighlights">Heighlights</li>
        <li class="product-info-list" data-filter="ingredients">Features</li>
        <li class="product-info-list" data-filter="howuse">Instructions</li>
        <li class="product-info-list" data-filter="protips">Why Choose This</li>
    </ul>
    <!--heighlight-->
    <div class="heighlight-info-container product-info-container heighlights active">
        <p>{{product.heighlights | safe}}</p>
    </div>
    <!--ingredients-->
    <div class="ingredients-info-container product-info-container ingredients">
        <p>{{product.features | safe}}</p>
    </div>
    <!--how-to-use-->
    <div class="howuse-info-container product-info-container howuse">
        <p>{{product.instructions | safe}}</p>
    </div>
    <!--pro-tips-->
    <div class="protips-info-container product-info-container protips">
        <p>{{product.pro_tips}}</p>
    </div>

</section>




<section class="review-section">
    <h4 class="cart-page-heading">
        <i class="fa-solid fa-layer-group"></i> Review's
      </h4>

      <div class="review-summary filter-box rating">
        <h3>Summary Of Review:</h3>
  
        <div class="review-summary-container">
  
          <div class="review-summary-rating-container">
            <strong>{{average_rating}}</strong>
            <div>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <span>({{total_reviews}})</span>
          </div>
        </div>
      </div>
<form class="product-rating" method="post" action="{% url 'product_page' product.category product.permalink %}">
    <h3>Give Some Review</h3>
    {% csrf_token %}
    <div class="rating">
        <input type="radio" id="star1" name="rating" value="5">
        <label for="star1">&#9733;</label>
        <input type="radio" id="star2" name="rating" value="4">
        <label for="star2">&#9733;</label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3">&#9733;</label>
        <input type="radio" id="star4" name="rating" value="2">
        <label for="star4">&#9733;</label>
        <input type="radio" id="star5" name="rating" value="1">
        <label for="star5">&#9733;</label>
    </div>
    <textarea name="comment" placeholder="Write your comment here" required></textarea>
    <button type="submit">Submit Review</button>
</form>

<h3 style="margin:50px 0px 10px 0px">Customer Review</h3>

{% if product_reviews|length == 0  %}
<p style="color: #ff2616; font-weight: 400; text-align: start">
    *No Review Yet On This Car
  </p>
{% endif %}

{% for review in product_reviews %}
<!--BOX-1-->
<div class="testimonial-box">
    <!--top-->
    <div class="box-top">
        <!--profile-->
        <div class="profile">
            <!--img-->
            <div class="profile-img">
                <img src="{{review.user.profile_img.url}}" alt="R"/>
            </div>
            <!--name-and-username-->
            <div class="name-user">
                <strong>{{review.user.first_name}} {{review.user.last_name}}</strong>
                <span>@{{review.user.username}}</span>
            </div>
        </div>
        <!--reviews-->
        <div class="reviews">
            <i class="fas fa-star"></i>
            <span>{{review.rating}}</span>
        </div>
    </div>
    <!--Comments-->
    <div class="client-comment">
        <p>{{review.comment}}</p>
    </div>
</div>
{% endfor %}

</section>
</div>


<!--==Jquery====================-->
<script src="{% static 'js/Jquery.js' %}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<!--==Script====================-->
<script type="text/javascript">

    /*==product-info-menu===*/
    $(document).on('click', '.product-info-menu li', function () {
        $(this).addClass('active').siblings().removeClass('active')
    });
    /*==product-info-details-filter==*/
    $(document).ready(function () {
        $('.product-info-list').click(function () {
            const value = $(this).attr('data-filter');
            if (value == 'all') {
                $('.product-info-container').filter('.' + value).show('1000');
            }
            else {
                $('.product-info-container').not('.' + value).hide('1000');
                $('.product-info-container').filter('.' + value).show('1000');
            }
        });
    });

    // the selector will match all input controls of type :checkbox
    // and attach a click event handler 
    $(document).ready(function () {
        $('input:checkbox').click(function () {
            $('input:checkbox').not(this).prop('checked', false);
        });
    });



    const div = document.getElementById('product-page-discount');
    var discountPrice = ({{ product.discounted_price }} + {{product.selling_price}})
    var discount =  {{product.selling_price}} / discountPrice *100  
    div.innerHTML = discount.toFixed(2)


    const div2 = document.getElementById('total-with-discount-price');

    var totalprice = {{ product.discounted_price }}+{{ product.selling_price }}
    div2.innerHTML = totalprice.toFixed(2) + '$'

    {% if product.color.all.first != None %}
    /*===color-first-checked=============*/
    document.getElementById("{{product.color.all.first}}").checked = true;
    {% endif %}
</script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>


{% endblock body %}